nav {
    display: flex;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-left: 30px;
}

.insideUl {
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}